<body class="background2">

<div class="hangmyman">
<div id="man">

<%picphotos = ["/img/image0.png","/img/image1.png","/img/image2.png","/img/image3.png","/img/image4.png","/img/image5.png","/img/image6.png"]%>
	<img src= '<%=picphotos[session[:incorrect_guesses].length]%>'>
</div>



<div id="hiddenletters">
 <p><%=hidden_word_array.join(" ")%></p>

<form method="post" action="choose_letter">
    <input type="hidden" name="hidden_word_array" value='<%=hidden_word_array%'>
<h3> Second Player choose a letter:</h3></br></div>
<div class= "submitletter">
	<div class= "center">
		<div class="whiteletter">
<input type="text" maxlength="1" name = "letter" pattern="[A-Za-z]{1}" autofocus>
</div
    <input type="image" class="icon" src="/img/hangmanicon.gif" width="50" height="50" allign></div></form>
</div>
