<h1>Welcome to hangman!!!</h1></br>
<body class="background1">
<div class="enterword"></br>
</br>
  <div id="entermyword">
  <h3>please enter a word</h3>
<p><form method="post" action="choose_word"></p>
<div class= "center">
  <input type="password" pattern="[A-Za-z]{5,}" id="typeword" name="chosen_word" autofocus required>
	  <input type="image"  class="icon" src="/img/hangmanicon.gif" width="50" height="50"></form></div>
</div></div>
