<!DOCTYPE html>


<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel= "stylesheet" href= "css/style.css">
</head>
<body>
	<header>
		<ul>
		  <li><a href="/"><img border="0" src="img/homelogo.gif" width="50" height="50"></a></li>
		  <li><a href="https://www.reddit.com/r/NewsOfTheStupid/"><img border="0" src="img/newsicon.gif" width="50" height="50"></a></li>
		  <li><a href="/choose_word"><img border="0" src="img/hangmanicon.gif" width="50" height="50"></a></li>
		</ul>
	</header>
	<%= yield %>


  <div class="footer">


			<a href= "http://www.minedminds.org" target = "_blank">Mined Minds<br>&copy; 2018</a>
		<br></br>
</div>
</body>
</html>
