<body class="background2">
<div class="youlost">
<h1>You Lost!!!!<h1></br>
<h2><%=chosen_word%> was your word </h2>

<button class="gohomebutton" onclick="window.location='/'">start over</button>
</div>
