<body class="background2">
<div class="youwon">
<p>You won!!!!</p></div>
<%=chosen_word%><br>was your word</br>
</div>
<div class="button_container" style="text-align: center">
<button class="gohomebutton" onclick="window.location='/'" >start over</button>
</div>
