<body class="background2">
<div class="youwon">
<p>You won!!!!</p>
<h2><%=chosen_word%> was your word </h2>
</div>
<div class="button_container" style="text-align: center">
<button class="gohomebutton" onclick="window.location='/'" >start over</button>
</div>
