body {
  background-image: url(../img/raven_background.jpg);
  background-repeat: no-repeat; */
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;

}
h1 {
  font-family: Rope;
  color: black;
  font-size: 500%;
  text-align: center;
  text-shadow: 3px 3px 7px #669999;
}


input {
    border: 5px solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

input[type=text] {
   /* Awesome styling */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li {
    float: left;
}

li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
@font-face {
font-family: Rope;
src: url(../fonts/AlphaRope.ttf);
}
